/* Create a sticky/fixed navbar */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #111111;
}

#boxnavbar {
    padding: 30px 10px; /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 90;
    transition: all .2s;
    align-items: center;
    display: flex;
}

.fa-i{
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    transition: transform 0.4s ease-in-out; /* Animation fluide */
}

.fa-i:hover{
    color: #cacaca;
    font-size: 1rem;
    font-weight: bold;
    transition: transform 0.4s ease-in-out; /* Animation fluide */
}

.fa-i i{
    color: #fff;
    transition: transform 0.4s ease-in-out; /* Animation fluide */
}

.fa-i:hover i{
    color: #cacaca;
    transition: transform 0.4s ease-in-out; 
}

/* Styles pour le menu déroulant */
.button-submenu{
    cursor: pointer;
    text-decoration: none;
}

.nav-item .submenu {
    position: absolute;
    width: 100%;
    border-radius: 10px;
    left: 0;
    top: 100%;
    transform: translateY(-20px);
    visibility: hidden;
    opacity: 0;
    padding: 10px 10px 10px 10px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
    z-index: 1000;
}

.nav-item.open .submenu {
    visibility: visible;
    opacity: 1;
    transform: translateY(10px);
}

.nav-item .submenu li {
    list-style: none; /* Supprimer les puces */
}

.nav-item .submenu li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px; /* Fixer une hauteur pour éviter les sauts */
    width: 90%; /* Largeur constante */
    margin: 0 auto; /* Centrer dans la grille */
    padding: 10px; /* Ne pas changer au hover */
    color: #979797;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    text-decoration: none;
    border: 1px solid transparent; /* Fixer la bordure à l'état initial */
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav-item .submenu li a:hover {
    background-color: transparent;
    border-color: #979797;
    color: #979797;
}

.header-left{
    color: #fff;
    padding: 10px 30px;
    position: fixed;
    left: 0px;
    z-index: 100;
    font-weight: bold;
}

#logo{
    font-size: 30px;
    transition: all .2s;
}

.header-right{
    cursor: pointer;
    color: #fff;
    padding: 16px 30px;
    position: fixed;
    right: 0px;
    z-index: 100;
}

.header-separation {
    background-color: #fff;
    margin: 0 5px 0 5px;
    width: 2px;
    height: 10px;
    display: inline-block;
}

.access {
    align-items: center;
    border-radius: 100px;
    display: flex;
    padding: 0px 5px 5px 0px;
}

/*.access:hover {
    backdrop-filter: saturate(150%);
    -webkit-backdrop-filter: saturate(150%);
    background-color: hsla(0,0%,100%,.15);
}*/

#roundednav{
    border-radius: 50px;
    width: fit-content;
    margin: auto;
    position: relative;
    height: 55px;
    display: flex;
    align-items: center;
}

#glossy{
    backdrop-filter: blur(60px) saturate(100%);
    -webkit-backdrop-filter: blur(60px) saturate(100%);
    background-color: transparent;
    border-radius: 35px;
    bottom: 0;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    transition: .2s;
}

.go_top {
    transition: opacity 0.3s ease;
}

.go_top.show {
    display: inline-block;
    opacity: 1;
}

/*************/

.socials {
    position: absolute;
    right: 5%;
    top: 715px;
    z-index: 1000;
    padding: 0.2em 1em 0.2em 1em;
    margin-bottom: unset;
    border-radius: 50px;
}

.socials ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.socials .icon-content {
    position: relative;
    margin: 1em 0 1em 0;
    box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.socials .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.socials .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.socials .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.socials .icon-content .tooltip {
    position: absolute;
    top: 100%;
    right: 160%;
    transform: translateY(200%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}

.socials .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -55px;
}

.socials .icon-content a:hover {
    color: white;
}

.socials .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.socials .icon-content a:hover .filled {
    height: 100%;
}

.socials .icon-content a[data-social="x"] .filled,
.socials .icon-content a[data-social="x"] ~ .tooltip {
    background-color: #1d9bf0;
}

.socials .icon-content a[data-social="github"] .filled,
.socials .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
}

.socials .icon-content a[data-social="instagram"] .filled,
.socials .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
        45deg,
        #405de6,
        #5b51db,
        #b33ab4,
        #c135b4,
        #e1306c,
        #fd1f1f
    );
}

.socials .icon-content a[data-social="youtube"] .filled,
.socials .icon-content a[data-social="youtube"] ~ .tooltip {
    background-color: #ff0000;
}

button.close-alert-box {
	padding: 15px;
}

#boxes {
    width: auto;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    bottom: 0;
    position: absolute;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #d04c59;
}

.box-1{
    position: relative;
    background-color: #d04c59;
    width: 343px;
    height: 100%;
    border-top-left-radius: 10px;
}

.box-2{
    position: relative;
    background-color: #fff;
    width: 343px;
    height: 100%;
}

.box-3{
    position: relative;
    background-color: #d04c59;
    width: 343px;
    height: 100%;
    border-top-right-radius: 10px;
}

.box-1 p{
    color: #fff;
    font-size: 12px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.box-2 p{
    color: #625765;
    font-size: 12px;
    text-align: center;
}

.box-3 p{
    color: #fff;
    font-size: 12px;
    text-align: center;
    position: relative;
    z-index: 1;
}


.box-1 h5{
    color: #fff;
    text-align: center;
    height:70px;
    padding-top: 10px;
    position: relative;
    z-index: 1;
}

.box-2 h5{
    color: #625765;
    text-align: center;
    height:70px;
    padding-top: 10px;
}

.box-3 h5{
    color: #fff;
    text-align: center;
    height:70px;
    padding-top: 10px;
    position: relative;
    z-index: 1;
}

.box-1 img{
    height: 100%;
    width: 100%;
    top: 0%;
    z-index: 0;
    opacity: 0.5;
    border-top-left-radius: 10px;
    position: absolute;
}

.box-3 img{
    height: 100%;
    width: 100%;
    top: 0%;
    z-index: 0;
    opacity: 0.5;
    border-top-right-radius: 10px;
    position: absolute;
}

.box-1 a{
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 30px;
    left: 152px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.box-1 a svg {
    width: 25px;
    height: 30px;
    margin: 5px 7px;
}

.box-2 a{
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 30px;
    left: 152px;
    border: 1px solid #d04c59;
    border-radius: 50%;
}

.box-2 a svg {
    width: 25px;
    height: 30px;
    margin: 5px 7px;
}

.box-3 a{
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 30px;
    left: 152px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.box-3 a svg {
    width: 25px;
    height: 30px;
    margin: 5px 7px;
}

/******************/
/*** FLOATINGBOX **/
/******************/

.floating-box {
    position: absolute; /* Position par défaut (sera changée par jQuery) */
    top: 715px;
    left: 5%;
    z-index: 10;
    width: 15%;
}

.floating-content-render{
    border-radius: 15px;
    margin-bottom: 1.5rem;
    padding: 1rem 1rem 1rem 1rem;
}

.floating-content-render h4 {
    font-weight: bold;
    color: #b3b3b3;
    font-size: 20px;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #625765;
    padding: 0 0 10px 0px;
}

.floating-content-render p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: bold;
    color: #999999;
}

/* Social Encadre Top */
.social-encadre{
    border-radius: 15px;
    margin-bottom: 1.5rem;
}

.social-encadre-top {
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 1em;
    align-items: center;
    margin-bottom: 1em;
    padding: 20px 20px 0px 20px;
}

.social-info {
    display: flex;
    flex-direction: column; /* Empiler les éléments verticalement */
    justify-content: flex-start; /* Alignement vertical au début */
}

.social-encadre-top img {
    width: 60px;
    height: 60px;
    border-radius: 10%; /* Rendre l'image ronde */
    border: 1px solid #292929;
}

.social-encadre-top h4 {
    margin: 0;
    font-size: 1.2em;
    color: #d04c59;
    font-weight: bold;
}

.social-encadre-top span {
    color: #666;
    font-size: 0.9em;
    font-weight: bold;
}

/* Follow Button */
.follow-button {
    margin-top: 0.5em; /* Espacement au-dessus du bouton */
    background-color: #ec7437; /* Couleur orange */
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5em 1em;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.follow-button:hover {
    background-color: #d06532; /* Couleur plus foncée au survol */
}

/* Social Encadre Bottom */
.social-encadre-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes égales */
    gap: 0; /* Espace entre les colonnes */
    margin-top: 1em;
    border-top: 1px solid #313131;
}

.social-stat {
    text-align: center;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}

.social-stat h4 {
    margin: 0;
    font-size: 1.2em;
    color: #d04c59;
    font-weight: bold;
}

.social-stat span {
    display: block;
    font-size: 0.6em;
    color: #666;
    font-weight: bold;
}

/* Encadre border */
.encadre-border {
    border-left: 1px solid #313131;
    border-right: 1px solid #313131;
}


.sticky {
    position: fixed; /* Change la position pour rester fixée */
    top: 5em; /* Fixée en haut de la fenêtre */
}

/* item édit */

.list-group-item {
    background:transparent;
    color: #fff;
    border-color: hsla(0, 0%, 100%, 0.356);
}

/****************/
/** CONTAINER ***/
/****************/

.content{
    padding-top: 5em;
    text-align: justify;
}

.content-render{
    border-radius: 10px;
    transition: all 0.2s ease;
    margin-bottom: 1.5rem;
}

.content-render-background-1{
    background: linear-gradient(to bottom, #171717, #242424) border-box;
    border: 1px solid #292929;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1), 0 10px 20px rgba(0, 0, 0, 0.4);
}

.content-render-background-2{
    background: linear-gradient(#171717, #242424) padding-box, linear-gradient(180deg, transparent 35%,#d04c59, #242424) border-box;
    border: 1px solid transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1), 0 10px 20px rgba(0, 0, 0, 0.4);
}

.box-render{
    padding: 1rem 1rem 0rem 1rem;
}

.box-img{
    position: relative;
    border-radius: 5px;
    top: -40px;
    z-index: 1;
    margin-bottom: 10px;
}

.box-img::before {
    content: '';
    position: absolute;
    bottom: -35px;
    background: linear-gradient(to bottom, #ec7437, #d04c59);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1), 0 10px 20px rgba(0, 0, 0, 0.4);
    border: 1px solid #ad3d05;
    width: 100%;
    height: 255px;
    border-radius: 10px;
    font-size: 0.7rem;
    color: #625765;
    z-index: 1;
}

.box-img img{
    width: 99%;
    border-radius: 7px;
    z-index: 2;
    display: flex;
    position: relative;
    margin: 0 auto;
    height: 220px;
    top: 30px;
}

.box-date{
    position: absolute;
    z-index: 1;
    top: 50px;
    left: -45px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: linear-gradient(to right, #ec7437, #d04c59);
    border: 1px solid #ad3d05;
    width: 50px;
    padding: 8px 5px 8px 5px;
}

.box-date span{
    color: #999999;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.box-render .inner-button{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #171717, #242424);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
    border: 1px solid #252525;
    right: 5px;
    top: 6px;
    cursor: pointer;
    transition: transform 0.4s ease-in-out; /* Animation fluide */
    z-index: 2;
}

.box-render .inner-button:hover {
    transform: rotate(-35deg); /* Rotation de l'icône */
    transition: transform 0.4s ease-in-out; /* Animation fluide */
}

.box-render p{
    padding: 0;
    font-size: 1rem;
    font-weight: bold;
    color: #999999;
}

.box-render h1{
    position: relative;
    font-weight: bold;
    color: #b3b3b3;
    margin: 0px 0px 1rem 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1), 0 10px 20px rgba(0, 0, 0, 0.4);
    background: linear-gradient(to bottom, #d04c59, #ad3d05);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    padding: 0px 150px 5px 10px;
    height: 53px;
    font-size: 20px;
    align-items: center;
    display: flex;
    z-index: 2;
}

.box-render h1::before {
    content: 'Follow For More';
    position: absolute;
    top: 0;
    background: #1d1d1d;
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
    border: 1px solid #252525;
    width: 150px;
    height: 100%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    font-size: 0.7rem;
    display: flex;
    right: -1px;
    align-items: center;
    justify-content: start;
    padding: 0px 0px 0px 9px;
    color: #625765;
}

.box-title{
    position: relative;
    font-weight: bold;
    color: #b3b3b3;
    margin: 0px 0px 1rem 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1), 0 10px 20px rgba(0, 0, 0, 0.4);
    background: linear-gradient(to bottom, #d04c59, #ad3d05);
    border-radius: 10px;
    padding: 0px 150px 5px 10px;
    height: 53px;
    font-size: 20px;
    align-items: center;
    display: flex;
    z-index: 2;
}

.box-render h4{
    font-weight: bold;
    color: #b3b3b3;
    font-size: 20px;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #625765;
    padding: 0 0 10px 0px;
}

p{
    color: #999999;
}

.build{
    width: 55%;
    margin: 40px auto 10px auto;
}

.container-highlight{
    background-image: linear-gradient(to bottom, transparent, #111111);
    justify-content: center;
    height: 670px;
    background-color: #303030;
    display: flex;
    position: relative;
}

.cover{
    position: absolute;
    background-image: url(../img/1.png);
    background-size: cover;
    width: 100%;
    bottom: 0;
    height: 100%;
    opacity: 0.2;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.9) 0px 18px 36px -18px inset;
}

#line {
    width: 100%;
    border-bottom: 5px solid #d04c59;
    transition: top 0.3s ease, bottom 0.3s ease;
}

.sticky-line {
    position: fixed;
    top: 55px; /* Fixée sous #boxnavbar */
    bottom: auto; /* Désactive le bottom */
    z-index: 90;
}

.reset-line {
    position: absolute;
    bottom: 0;
}

.btn-queries{
    display: none;
}

/****************/
/* BANNER BTN ***/
/****************/

.banner-buttons {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
}

.styled-button {
    position: relative;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: #979797;
    background: linear-gradient(to bottom, #171717, #242424);
    border-radius: 9999px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1), 0 10px 20px rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #292929;
    text-decoration: none; /* Retire le soulignement des liens */
}

.styled-button:hover .inner-button .icon {
    transform: rotate(-35deg); /* Rotation de l'icône */
    transition: transform 0.4s ease-in-out; /* Animation fluide */
}

.styled-button .inner-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #171717, #242424);
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 50%;
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
    border: 1px solid #252525;
    transition: all 0.2s ease;
}

.styled-button .inner-button .icon {
    filter: drop-shadow(0 10px 20px rgba(26, 25, 25, 0.9))
        drop-shadow(0 0 4px rgba(0, 0, 0, 1));
    transition: all 0.4s ease-in-out;
}



/* From Uiverse.io by vinodjangid07 */ 
.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 30%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
}
  
/* plus sign */
.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.sign svg {
    width: 17px;
}
  
.sign svg path {
    fill: white;
}
  /* text */
.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
}

/* hover effect on button width */
.Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
}
  
.Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}
  /* button click effect*/
.Btn:active {
    transform: translate(2px ,2px);
}

/* badge */
.text-bg-primary {
    color: #fff !important;
    background-color: #222222 !important;
}

/*********/

.offcanvas-banners-btn{
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    border: 1px solid #424649;
    padding: 10px 0 10px 0px;
    border-radius: 5px;
}

.Btn-submit {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 30%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(65, 125, 255);
}
  /* hover effect on button width */
.Btn-submit:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
}
  
.Btn-submit:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}
/* hover effect button's text */
.Btn-submit:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}
  /* button click effect*/
.Btn-submit:active {
    transform: translate(2px ,2px);
}

/*** btn account ***/
.Btn-account {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 30%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(0, 134, 67);
}
  /* hover effect on button width */
.Btn-account:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
}
  
.Btn-account:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}
/* hover effect button's text */
.Btn-account:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}
  /* button click effect*/
.Btn-account:active {
    transform: translate(2px ,2px);
}

/* From Uiverse.io by andrew-demchenk0 */ 
.card {
    --main-color: #000;
    --submain-color: #78858F;
    --bg-color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background: transparent;
    margin-bottom: 10px;
}
  
.card__img {
    height: 192px;
    width: 100%;
}

.card__img img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
  
.card__avatar {
    position: absolute;
    width: 114px;
    height: 114px;
    background: #212529;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 57px);
}
  
.card__avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
  
.card__title {
    margin-top: 60px;
    font-weight: 500;
    font-size: 18px;
    color: var(--main-color);
}
  
.card__subtitle {
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
    color: var(--submain-color);
}
  
.card__btn {
    margin-top: 15px;
    width: 76px;
    height: 31px;
    border: 2px solid var(--main-color);
    border-radius: 4px;
    font-weight: 700;
    font-size: 11px;
    color: var(--main-color);
    background: var(--bg-color);
    text-transform: uppercase;
    transition: all 0.3s;
}
  
.card__btn-solid {
    background: var(--main-color);
    color: var(--bg-color);
}
  
.card__btn:hover {
    background: var(--main-color);
    color: var(--bg-color);
}
  
.card__btn-solid:hover {
    background: var(--bg-color);
    color: var(--main-color);
}

/**************/
/* SPLASHTEXT */
/**************/

.splash{
    width: 40%;
    height: 50%;
    position: absolute;
    top: 160px;
    display: inline-table;
}

.splash h1{
    background: linear-gradient(to bottom, #979797 40%, #020403);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-family: Poppins, sans-serif;
}

.splash p{
    color: #979797;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Trois colonnes égales */
    gap: 0; /* Pas d'espace entre les colonnes */
    text-align: center;
    padding: 10px 0;
}

.footer h4 {
    margin: 0;
    font-size: 1.2em;
    color: #d04c59;
    font-weight: bold;
    align-content: baseline;
    position: relative; /* Nécessaire pour superposition des éléments */
}

.footer-img {
    display: flex;
    margin: 0 auto;
    border-radius: 10px; /* Coins arrondis */
    border: 2px solid #d04c59; /* Bordure rouge */
    margin-bottom: 10px;
    position: relative; /* Permet la superposition de l'icône */
    z-index: 1; /* L'image est derrière l'icône */
    width: 60px; /* Taille fixe de l'image */
    height: 60px;
}

.flag-mail {
    position: absolute;
    top: 50%; /* Centre verticalement par rapport au parent h4 */
    left: 50%; /* Centre horizontalement */
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: #fff;
    padding: 5px 5px 5px 5px;
    border-radius: 35%;
    line-height: 0;
    border: 2px solid #d04c59;
}

.flag-mail i {
    color: #d04c59; /* Couleur de l'icône */
}

.footer a {
    color: #666;
    font-weight: bold;
    text-decoration: none; /* Pas de soulignement */
}

.footer a:hover {
    text-decoration: underline; /* Ajoute un soulignement au survol */
}

.footer span {
    display: block;
    font-size: 0.6em; /* Taille réduite du texte */
    color: #666;
    font-weight: bold;
    margin-top: 5px;
}

.footer h4 span i {
    margin-right: 5px; /* Espacement entre l'icône et le texte */
    font-size: 1em;
    color: #666;
}


.copyright{
    color: #999999;
    padding: 0rem 0rem 1rem 0rem;
}

.copyright a {
    color: #999999;
}



/*****************/
/* MEDIA QUERIES */

@media (max-width: 1024px) {

    #roundednav {
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        right: 25px;
        margin:0 0 0 0px;
    }

    #glossy{
            border-bottom-right-radius: 30px;
            border-top-right-radius: 30px;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
    }

    .access {
        padding: 0;
    }

    .container-highlight{
        display: block;
    }

    .splash{
        width: 100%;
        top: 155px;
        padding: 10px;
    }

    .cover {
        background-position: 30%;
    }

    .header-left{
        display: none;
    }

    .header-right{
        display: none;
    }

    #boxes {
        display: none;
    }

    .btn-queries{
        display: inline-block;
        font-weight: 400;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        position: fixed;
        top: 35px;
        right: 10px;
        z-index: 91;
    }

    .btn-queries button{
        all: unset;
        display: inline-block; /* Requis si vous voulez que le bouton reste utilisable */
        cursor: pointer;      /* Ajoute un pointeur pour indiquer qu'il est cliquable */
        color: #fff;
    }

    .floating-box {
        position: unset;
        width: 100%;
    }

    .build {
        width: 100%;
        margin: 20px auto;
    }

    .socials{
        display: none;
    }

}
